title: RADIUSS
email: radiuss@llnl.gov
description: >- # this means to ignore newlines until "baseurl:"
  The RADIUSS project aims to develop and deploy a common base of
  foundational scientific software with opt-in adoption from laboratory
  applications in order to reduce long-term software costs and increase
  agility.

baseurl: "/radiuss" 
url: "" 
domain: https://software.llnl.gov
twitter-img: /assets/img/rse-ops-circle.png
twitter: rseops
twitter_card: summary

# Collections
collections:
    events:
      output: false
      permalink: /:collection/:title/

# Defaults
defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: post
      is_post: true 

# Post pagination
paginate: 5
paginate_path: "/news/page:num/"
permalink: /:categories/:year/:month/:day/:title/

exclude:
  - .jekyll-cache
  - env
  
theme: minima
plugins:
  - jekyll-feed
